<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500317680360-hb6m05vtoffvmie4t3rhrfuhp7qv4l38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500317680360-hb6m05vtoffvmie4t3rhrfuhp7qv4l38</string>
	<key>API_KEY</key>
	<string>AIzaSyAhsBhVrixgy7ptlTAi9qJxIaIkUoQ4nG8</string>
	<key>GCM_SENDER_ID</key>
	<string>500317680360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uy.zootecnia.reservelibrary.reserveLibrary</string>
	<key>PROJECT_ID</key>
	<string>booking-library-eb022</string>
	<key>STORAGE_BUCKET</key>
	<string>booking-library-eb022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500317680360:ios:d4c64837600f84626d4f5d</string>
</dict>
</plist>